#root {
  width: 100%;
  max-width: min(960px, 60vh);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.qr-value {
  width: 100%;
  margin-bottom: 2em;

  & .MuiInput-input {
    width: calc(100% - 0.8em - 2px);
    font-size: 1.4em;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    font-family: var(--font-family);
  }
}
